In [1]:
import pandas as pd

In [5]:
df = pd.read_json('final_aggregated_data.json')
df

,Tehran,Mzuzu,Cairo,Las Vegas,Denver,Douala,Palembang,Charlotte,Kyiv,Maputo,...,Lake Tekapo,Tampa,Garoua,Praia,Vienna,Rabat,Gangtok,Singapore,Tamanrasset,Edmonton
total_temp,413566.400000,428298.900000,520416.400000,488831.000000,249262.50000,650067.600000,662516.500000,397047.70000,201542.40000,547132.400000,...,211564.400000,554955.100000,679388.500000,590074.300000,252438.600000,417770.800000,366745.700000,653825.90000,525322.600000,102698.300000
count,24285.000000,24169.000000,24246.000000,24106.000000,24308.00000,24381.000000,24262.000000,24534.00000,24034.00000,24075.000000,...,24379.000000,24213.000000,24030.000000,24216.000000,24308.000000,24158.000000,24210.000000,24160.00000,24251.000000,24285.000000
max_temp,57.500000,57.800000,60.600000,61.800000,51.20000,64.900000,67.300000,53.40000,48.80000,71.700000,...,48.300000,68.500000,63.900000,63.900000,49.900000,60.500000,57.400000,68.40000,59.200000,53.900000
min_temp,-24.000000,-23.400000,-24.900000,-19.800000,-36.30000,-9.500000,-10.000000,-22.60000,-31.80000,-19.100000,...,-32.900000,-17.200000,-10.300000,-12.200000,-31.100000,-22.800000,-25.600000,-14.50000,-16.400000,-36.800000
average_temp,17.029706,17.721002,21.464011,20.278395,10.25434,26.662877,27.306755,16.18357,8.38572,22.726164,...,8.678141,22.919717,28.272514,24.367125,10.385001,17.293269,15.148521,27.06233,21.661894,4.228878
mean_temp,16.750000,17.200000,17.850000,21.000000,7.45000,27.700000,28.650000,15.40000,8.50000,26.300000,...,7.700000,25.650000,26.800000,25.850000,9.400000,18.850000,15.900000,26.95000,21.400000,8.550000

In [ ]:
pivot_df = df.transpose()
pivot_df.head()

KeyError: "None of ['Stations'] are in the columns"